.user{
    display: flex;
    position: relative;
    padding: 10px;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: rgba(255, 209, 2, 0.2);
    position: relative;
    cursor: pointer;
}

.user:hover{
    background-color: rgba(255, 209, 2, 0.8);
}

.user__name{
    font-size: 14px;
    font-weight: 400;
    margin-left: 50px;
}

.user__role{
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    left: 200px;
}

.user__date{
    position: absolute;
    left: 10px;
}